@font-face {
	font-family: 'Inter';
	src: url('chrome-extension://__MSG_@@extension_id__/font/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

@font-face {
	font-family: 'Inter';
	font-weight: 500;
	src: url('chrome-extension://__MSG_@@extension_id__/font/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

@font-face {
	font-family: 'Inter';
	font-weight: bold;
	src: url('chrome-extension://__MSG_@@extension_id__/font/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

@font-face {
	font-family: 'Inter';
	font-style: italic;
	src: url('chrome-extension://__MSG_@@extension_id__/font/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('chrome-extension://__MSG_@@extension_id__/font/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-weight: 500;
	src: url('chrome-extension://__MSG_@@extension_id__/font/SourceSansPro-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-weight: bold;
	src: url('chrome-extension://__MSG_@@extension_id__/font/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	src: url('chrome-extension://__MSG_@@extension_id__/font/SourceSansPro-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-weight: bold;
	font-style: italic;
	src: url('chrome-extension://__MSG_@@extension_id__/font/SourceSansPro-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Libre Baskerville';
	src: url('chrome-extension://__MSG_@@extension_id__/font/LibreBaskerville-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Libre Baskerville';
	font-weight: 500;
	src: url('chrome-extension://__MSG_@@extension_id__/font/LibreBaskerville-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Libre Baskerville';
	font-weight: bold;
	src: url('chrome-extension://__MSG_@@extension_id__/font/LibreBaskerville-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Libre Baskerville';
	font-style: italic;
	src: url('chrome-extension://__MSG_@@extension_id__/font/LibreBaskerville-Italic.ttf') format('truetype');
}

#container {
	max-width: 1000px;
	padding-top: 10px;
	padding-bottom: 25px;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

body {
	padding-left: 25px !important;
	padding-right: 25px !important;
}

a {
	text-decoration: none !important;
}

.dropdown-menu {
	margin-top: -8px !important;
}

.circle-light {
	color: #ccc;
}

.circle-dark {
	color: #454545;
}

.circle-sepia {
	color: #d6c9af;
}

@media (prefers-color-scheme: dark) {

	.circle-system {
		color: #454545 !important;
	}

}

.circle-system {
	color: #ccc;
}

.circle-light, .circle-dark, .circle-sepia, .circle-system {
	margin-right: 3px;
}

.bi-check2 {
	position: relative;
	top: 1px;
}

.form-check {
	margin-bottom: 4px;
}
