body {
	padding-top: 20px !important;
}

#preloader {
	text-align: center;
	padding-top: 25px;
}

#progressBar {
	width: 40%;
	margin: 0 auto;
	margin-bottom: 10px !important;
}

#spinner {
	margin-bottom: 6px;
}

#progressText {
	font-weight: 500;
	margin-left: 12px;
}

#notLoadingMessage {
	margin-left: 5px;
	line-height: 2;
}

#encyclopediaLogo {
	display: inline-block;
}

#articleSubtitle {
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 0;
	padding-top: 0;
	vertical-align: top;
}

#articleInfoBox {
	padding-bottom: 15px;
}

#encyclopediaLogo {
	width: 50px;
	height: 50px;
	display: inline-block;
	overflow: hidden;
	padding: 5px;
}

#articleSourceLink {
	margin-left: 10px;
}

.bi-box-arrow-up-right {
	margin-left: 3px;
}

div[onmouseout="addthis_close()"], div[style="background-color: #cccccc; margin:0.5em;position:relative;"] {
	display: none;
}

h1, h2 {
	border: none !important;
}

.tleft {
	float: left;
	clear: both;
	margin: 15px 15px 15px 0;
}

.tright {
	float: right;
	clear: both;
	margin: 15px 0 15px 15px;
}

.thumbcaption {
	padding: 10px;
}

.thumbinner {
	box-sizing: content-box;
}

.infobox-title {
	caption-side: top;
}

.ambox {
	margin-bottom: 15px !important;
}

div[style="background-color: #C4D2DF; margin:0em;position:relative;"] {
	padding: 10px;
	border-width: 1px;
}
