body {
	background: #f5f5f5 !important;
	color: #212529;
}

#logo {
	background: url("/logos/logo-black.png");
	background-size: contain;
	background-repeat: no-repeat;
}

small {
	color: #444;
}

.btn-flat {
	border: none;
}

.btn-flat:hover {
	background-color: #f5f5f5 !important;
}

.btn-flat:hover, .btn-flat:focus {
	color: #777;
}

.dropdown-item a {
	text-decoration: none;
}

a[href$="redlink=1"] {
	color: #dd2b2b !important;
}
