body {
	background-color: #fbf0d9 !important;
	color: #5f4a32 !important;
}

.dropdown-menu {
	background-color: #fbf0d9;
}

.dropdown-item:hover {
	background-color: #f9f6ef;
}

.btn-flat {
	border: none;
}

.btn-flat:hover {
	background-color: #fbf0d9 !important;
}

#logo {
	background: url("/logos/logo-black.png");
	background-size: contain;
	background-repeat: no-repeat;
}

a[href$="redlink=1"] {
	color: #d32121 !important;
}
