#encyclosphereResultToggle {
    display: inline-block;
    text-decoration: none;
    color: #fff !important;
    background-color: #148ee5;
    font-size: 14px;
    padding: 6px;
}

#encyclosphereMoreResultsBtn {
    display: inline-block;
    margin-bottom: 20px;
}

#encyclosphereResultToggle.enc-toggle-visible {
    border-radius: 4px 4px 0px 0px;
}

#encyclosphereResultToggle:not(.enc-toggle-visible) {
    border-radius: 4px;
    margin-bottom: 15px;
}

#encyclosphereResultContainer {
    border: 1px solid #148ee5;
    border-radius: 0px 4px 4px 4px;
    padding: 20px 12px 0px 12px;
    margin-bottom: 15px;
}

#encyclosphereResultToggle > img {
    margin-bottom: -5px;
}

#encyclosphereLoader {
    margin-top: 0px;
    margin-bottom: 20px;
}

#encyclosphereNoResultsText {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 14px;
}

#encyclosphereNoResultsText > img {
    margin-bottom: -5px;
}
